@page "/upload"
@using MyFirstAzureWebApp.Services.Dto
@using MyFirstAzureWebApp.Services
@inject IBlobStorageService BlobStorageService
@inject ILogger<Upload> Logger

<PageTitle>Upload</PageTitle>
<h4>File Upload (Azure Blob Storage)</h4>
@if (warningMessage.Length > 0)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @warningMessage.
    </div>
}

<h4>File Upload (Azure Blob Storage)</h4>
<div class="row">
    <div class="col-sm-6">
        <label>
            <InputFile class="form-control" disabled="@fileLoading" OnChange="@OnInputFileChange" multiple />
        </label>
        @if (fileLoading)
        {
            <i class="fa fa-refresh"></i> <span>Loading...</span>
        }
    </div>
    <div class="col-sm-2">
        <button type="button" disabled="@fileLoading" class="btn btn-primary" @onclick="OnUploadSubmit">
            Upload File
        </button>
    </div>
</div>
@if (displayMessage.Length > 0)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @displayMessage.
    </div>
}
<br />
<div class="row">
    @if (fileUploadViewModels.Count > 0)
    {
        <table class="table table-responsive table-bordered">
            <thead class="text-primary">
                <tr>
                    <th>File</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attachment in fileUploadViewModels)
                {

                    <tr>
                        <td>
                            <a class="text-primary"><i class="fa-solid fa-paperclip"></i> @attachment.FileName</a>
                        </td>

                            <td>
                            <span class="oi oi-delete" aria-hidden="true" @onclick="() => OnFileDeleteClick(attachment)"></span>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">
            <strong>No Files!</strong>
        </div>
    }
</div>


@code {
    private string warningMessage = "";
    private string displayMessage = "";
    private long maxFileSize = 1024 * 1024 * 20; // 20MB
    private bool fileLoading;
    IReadOnlyList<IBrowserFile> selectedFiles = new List<IBrowserFile>();
    private List<FileUploadViewModel> fileUploadViewModels = new();
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        displayMessage = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }
    private async Task OnUploadSubmit()
    {
        if (selectedFiles.Count == 0)
        {
            warningMessage = "Please select a file first.";
            return;
        }

        fileLoading = true;
        warningMessage = "";
        displayMessage = "";

        foreach (var file in selectedFiles)
        { 
            if (file.Size > maxFileSize)
            {
                    warningMessage += $"File {file.Name} exceeds the maximum allowed size of 20MB.";
                    continue;
            }
            try
            {
                var trustedFileNameForFileStorage = file.Name;
                var blobUrl = await BlobStorageService.UploadFileToBlobAsync(trustedFileNameForFileStorage, file.ContentType, file.OpenReadStream(20971520));
               
                if (blobUrl != null)
                {
                    FileUploadViewModel fileUploadViewModel = new FileUploadViewModel()
                        {
                            FileName = trustedFileNameForFileStorage,
                            FileStorageUrl = blobUrl,
                            ContentType = file.ContentType,
                        };

                    fileUploadViewModels.Add(fileUploadViewModel);
                    displayMessage = trustedFileNameForFileStorage + " Uploaded!!";
                }
                else
                    warningMessage = "File Upload failed, Please try again!!";

            }
            catch (Exception ex)
            {
                 Logger.LogError(ex, "Upload failed for {FileName}", file.Name);
                 warningMessage = $"Upload failed: {ex.Message}";
            }
        }

        fileLoading = false;
    }

    private async Task OnFileDeleteClick(FileUploadViewModel attachment)
    {
        try
        {
            var deleteResponse = await BlobStorageService.DeleteFileToBlobAsync(attachment.FileName);
            if (deleteResponse)
            {
                fileUploadViewModels.Remove(attachment);
                displayMessage = attachment.FileName + " Deleted!!";
            }

        }
        catch (Exception)
        {
            warningMessage = "Something went wrong! Please try again.";
        }
        this.StateHasChanged();
    }

}